<div>
  <h3>
    Myeloma UK and European Medicines Agency Patient Preference Study<br/>
  </h3>

  <h4>What is the aim of this study?</h4>

  <p>Myeloma UK and the European Medicines Agency (EMA) are conducting a survey about myeloma patients’ treatment preferences. The data from this study will can help give patients a voice in decisions about the availability of future myeloma treatments.</p>

  <p>The EMA is responsible for the scientific evaluation and monitoring of medicines developed for use in the EU. Every time a new myeloma treatment is developed the EMA assesses whether it is safe and effective and should be granted marketing authorisation i.e. a licence for use in the EU. After this it is up to national health systems to decide if the treatment should be paid for as part of routine care.</p>

  <p>As well as looking at data from clinical trials, the EMA asks patients for their views about the treatment. Every treatment comes with potential benefits but also a certain level of potential risk (for example of side-effects). The EMA wants to be sure that these risks are acceptable to patients and that the potential benefits outweigh the potential risks involved.</p>

  <p>It is difficult to capture lots of views on this, therefore tThe EMA and Myeloma UK are looking at new ways to gather larger numbers of views from patients on what they think about benefits and risks. This type of research is called ‘Patient Preference Research’ and will be used to help evaluate new treatments.</p>

  <h4>What’s involved?</h4>

  <p>In this survey you will be asked to consider scenarios for different treatments and to choose which treatment option you prefer.</p>

  <p>These scenarios are not specific myeloma treatments but they describe a small number of ‘outcomes’ (benefits and risks) that are common to myeloma treatments.</p>

  <p>There are many factors that are important to patients and this survey is only looking at a sample of these. It looks at survival, how long the myeloma is under control for and the risk of experiencing side-effects. These factors have been chosen as we can use this information to directly relate to data that comes out of clinical trials.  There is a section at the end where you can detail anything you feel is important but has not been covered elsewhere.</p>

  <h4>How long will it take?</h4>

  <p>Completing all the questions should take around 15-20 minutes. You can save your responses so you can come back to the survey at any time.</p>

  <h4>Questions of a sensitive nature</h4>

  <p>The survey has had a lot of patient input into its design and wording and we hope you do not feel uncomfortable when taking part. Some questions in this survey ask for your personal views on sensitive issues and how important different outcomes are. If you feel uncomfortable you can stop at any time. Your participation is entirely voluntary.

  <h4>What will result from the survey?</h4>

  <p>Taking part will help improve understanding about patients’ perspectives on the benefits and risks of treatments and the results could be used by the EMA and Myeloma UK in future discussions about new myeloma treatments. We also intend to publish the results in Autumn 2016 so that others can learn from them.</p>

  <h4>Confidentiality</h4>

  <p>We ask you for some brief information about yourself and your treatment history. All your information is treated confidentially and responses will be anonymised when presenting the results so they are not linked to you. If you choose to leave your email address we will be pleased to send you a copy of the overall results.</p>

  <h4>Contact information</h4>

  <p>If you have any questions or concerns you can contact Myeloma UK by email at <a href="mailto:Sarah.Richard@myeloma.org.uk">Sarah.Richard@myeloma.org.uk</a> or call 0131 557 3332.</p>

</div>
