<div>
  <h3>
    Myeloma patient preference survey<br/>
  </h3>

  <h4>What is the aim of this study?</h4>

  <p>Myeloma UK is conducting a survey about hypothetical treatments for myeloma. The aim of this survey is to help researchers understand how different people would choose between different imaginary treatments for myeloma. This knowledge can be useful for research into new treatments, for deciding whether to approve new treatments, and for helping patients and their doctors choose between treatments. The survey is being conducted in collaboration with the European Medicines Agency, and the University Medical Centre Groningen, the Netherlands. The information collected during this survey is intended for academic research presentations and publications.</p>


  <h4>How long will it take?</h4>
  <p>Completing all the questions should take about 15 minutes of your time. However, there is no time limit to completing the survey and you may take as long as you like to answer the questions. You can answer some questions and save your responses so you can come back to the survey at any other time.</p>

  <h4>What’s involved?</h4>
  <p>You will be asked to consider imaginary treatments and choose between them based on the factors you personally think are most important. There are many factors that are important to patients and unfortunately the survey cannot cover them all. This survey focuses on a small selection of treatment effects that are common to many myeloma treatments.</p>

  <h4>Questions of a sensitive nature</h4>
  <p>Some of the items on this survey may make you feel uncomfortable. Your participation is entirely voluntary and you can stop filling in the questionnaire at any time.</p>

  <h4>Benefits from taking part</h4>
  <p>Taking part will help improve understanding what matters to patients when it comes to treatments. We hope this survey will benefit many myeloma patients in the future. Once we have finished the survey, we will share the overall results with you. Unfortunately, we are unable to provide any kind of payment for participating in this survey.</p>

  <h4>Confidentiality</h4>
  <p>In the survey we ask you for some brief information about yourself and your medical experience. Your answers are confidential, and the data we collect is treated confidentially. All responses will be anonymised when presenting our survey.</p>

  <h4>Contact information</h4>
  <p>If you have any questions or concerns you can contact Myeloma UK by email at <a href="mailto:Sarah.Richard@myeloma.org.uk">Sarah.Richard@myeloma.org.uk</a> or call 0131 557 3332.</p>

</div>
