<div>
  <h3>
    What matters to people living with myeloma when thinking about treatment<br/>
    <sub>A Myeloma UK patient preference study</sub>
  </h3>

  <h4>Introduction</h4>

  <p>Myeloma UK is conducting a study about how people with myeloma value certain benefits and risks of cancer treatments. You are being invited to participate in this study, which is entirely voluntary.</p>

  <p>Please read this information sheet carefully before you decide whether you want to participate.  You may also discuss it with your partner, friends, or family or with Myeloma UK.</p>

  <p>This study is being carried out by Myeloma UK in collaboration with the European Medicines Agency and the University Medical Center Groningen, The Netherlands.</p>

  <h4>What is the aim of this study?</h4>
  <p>This study tries to understand how important certain benefits and risks of cancer treatments are for people living with myeloma based on their stated preferences about hypothetical treatments with different outcomes (both favourable and unfavourable). There is not much research to date on this and no large study has been conducted before in the UK.</p>

  <h4>How is the data going to be used?</h4>
  <p>Understanding what is most important to patients with respect to the benefits and risks of cancer treatments is very useful. It can help patients and doctors choose between different treatment options for their condition. It can also help researchers decide which new treatments to study as well as inform those who regulate and approve treatments when deciding whether the benefits of treatments outweigh the risks.</p>

  <h4>What’s involved?</h4>
  <p>You will be asked to consider several hypothetical treatments with different outcomes in a short questionnaire. Each time we will ask you to choose which treatment you prefer out of two or more treatment options. Different people will feel that some of these outcomes are more important to them than others, and we want you to tell us about what matters to you personally.</p>

  <p>There are many types of benefits and risks and unfortunately the survey cannot cover them all. This survey focuses on a small selection of benefits and risks which are common to many myeloma treatments. The favourable outcomes used in the survey consist of delaying cancer progression and improving duration of survival. The unfavourable outcomes consist of long-term mild or moderate side effects and severe or life-threatening side-effects.</p>

  <h4>Questions of a sensitive nature</h4>
  <p>When completing the questionnaire, we will ask you to consider different hypothetical treatments and outcomes. One beneficial outcome is the probability of someone being progression-free for one year or longer. Another beneficial outcome is the probability of survival of 2 years or more. Risks are described in terms of chance of experiencing long-term, severe or life-threatening side-effects.</p>
  <p>You may be uncomfortable thinking about some of these outcomes as they could potentially be upsetting. Your participation in this activity is entirely voluntary and you can stop filling in the questionnaire at any time.</p>

  <h4>How will the benefits and risks be described?</h4>
  <p>The benefits and risks are described in the survey as probabilities. This is because it is not possible to predict how each individual patient will experience a treatment.</p>
  <p>For example, suppose that we know from clinical studies that out of 100 patients taking the treatment 10 experienced a moderate side-effect. In that case, the probability of experiencing that side-effect is 10 out of 100 (or 10%).</p>

  <h4>How long will it take?</h4>
  <p>The questionnaire is divided into several parts which each contain a different set of questions. Completing all the questions should take no longer than 15 minutes. You can save your responses and come back to the survey if you prefer to split it up that way.</p>

  <h4>Benefits from taking part</h4>
  <p>Although there will be no immediate benefit to you, your participation will help everyone understand better what matters to myeloma patients when it comes to treatments. We will share the results with you. Unfortunately, we are unable to provide any kind of payment for you taking part in this study.</p>

  <h4>Confidentiality</h4>
  <p>In the questionnaire we ask you for some brief information about yourself (for example, your age and gender) and your myeloma experience. This will only be used to understand differences in people’s views.</p>
  <p>The responses that we collect will be stored on a secure server that can only be accessed by authorised members of the research team. For statistical purposes and for any publication, all the data will be anonymised, meaning that the results of the study cannot be traced back to you as a person.</p>

  <h4>Sharing the results</h4>
  <p>The overall results will be shared between the European Medicines Agency, Myeloma UK, and the University Medical Center Groningen. When we have concluded the main analysis, we will also share the results with you. We will also publish the results in scientific publications and on the Myeloma UK website.</p>

  <h4>Contact information</h4>
  <p>If you have any questions, concerns, or complaints you can contact Myeloma UK. Please email Sarah Richard at <a href="mailto:Sarah.Richard@myeloma.org.uk">Sarah.Richard@myeloma.org.uk</a> or call 0131 557 3332.</p>

</div>
