<div class="row">
  <div class="columns large-12">
    <h3>Choosing between treatments<span ng-if="state.step > 1"> (continued)</span></h3>

    <p><strong>Q{{state.step + state.stepOffset}}:</strong> Please consider the following two treatment options, {{ state.aLabel }} and {{ state.bLabel }}:</p>

    <dl>
      <dt>Treatment {{ state.aLabel }} involves</dt>
      <dd>
        <ul>
          <li>about {{ pvf.worst(state.a) | number:0 }}{{state.a.unitOfMeasurement}} {{state.a.titleIndefinite}}</li>
          <li>about {{ pvf.best(state.b) | number:0 }}{{state.b.unitOfMeasurement}} {{state.b.titleIndefinite}}</li>
        </ul>
      </dd>

      <dt>Treatment {{ state.bLabel }} involves</dt>
      <dd>
        <ul>
          <li>about {{pvf.inv(state.a)(state.cutoff) | number:0 }}{{state.a.unitOfMeasurement}} {{state.a.titleIndefinite}}</li>
          <li>about {{pvf.worst(state.b) | number:0 }}{{state.b.unitOfMeasurement}} {{state.b.titleIndefinite}}</li>
        </ul>
      </dd>
    </dl>

    <p>Based on this information which treatment would you prefer?</p>

    <form>
      <div class="longlabel">
        <input type="radio" ng-model="state.choice" value="{{state.criterionB}}" id="criterion-b">
        <label for="criterion-b">Treatment {{state.aLabel}}</label>
      </div>
      <div class="longlabel">
        <input type="radio" ng-model="state.choice" value="{{state.criterionA}}" id="criterion-a">
        <label for="criterion-a">Treatment {{state.bLabel}}</label>
      </div>
    </form>

  </div>
</div>
