<div class="row">
  <div class="columns large-12">
    <h3>Choosing between treatments</h3>

    <p>Please consider the following two treatment options, {{ state.aLabel }} and {{ state.bLabel }}:</p>

    <dl>
      <dt>Treatment {{ state.aLabel }} involves</dt>
      <dd>
        <ul>
          <li>{{state.a.title}} = {{ pvf.worst(state.a) | number:0 }}{{state.a.unitOfMeasurement}}</li>
          <li>{{state.b.title}} = {{ pvf.best(state.b) | number:0 }}{{state.b.unitOfMeasurement}}</li>
        </ul>
      </dd>

      <dt>Treatment {{ state.bLabel }} involves</dt>
      <dd>
        <ul>
          <li>{{state.a.title}} = {{pvf.inv(state.a)(state.cutoff) | number:0 }}{{state.a.unitOfMeasurement}}</li>
          <li>{{state.b.title}} = {{pvf.worst(state.b) | number:0 }}{{state.b.unitOfMeasurement}}</li>
        </ul>
      </dd>
    </dl>


    <p>Based on this information which treatment would you prefer?</p>
    <form>
      <label for="criterion-b"><input type="radio" ng-model="state.choice" value="{{state.criterionB}}" id="criterion-b">
        Treatment {{state.aLabel}}</label>
      <label for="criterion-a"><input type="radio" ng-model="state.choice" value="{{state.criterionA}}" id="criterion-a">
        Treatment {{state.bLabel}}</label>
    </form>

  </div>
</div>
