<div class="row">
  <div class="columns large-12">
    <h3>{{title(state.step, state.total)}}</h3>

    <p>Imagine the following two treatment options:</p>

    <dl>
      <dt>Treatment A</dt>
      <dd>
        <div>
          <desc title="{{state.a.description}}">{{state.a.title}}</desc>
          = {{ pvf.worst(state.a) | number:0 }} {{state.a.unitOfMeasurement}}
        </div>
        <div>
          <desc title="{{state.b.description}}">{{state.b.title}}</desc>
          = {{ pvf.best(state.b) | number:0 }} {{state.b.unitOfMeasurement}}
        </div>
      </dd>

      <dt>Treatment B</dt>
      <dd>
        <div>
          <desc title="{{state.a.description}}">{{state.a.title}}</desc>
          = {{pvf.inv(state.a)(state.cutoff) | number:0 }} {{state.a.unitOfMeasurement}}</div>
        <div>
          <desc title="{{state.b.description}}">{{state.b.title}}</desc>
          = {{pvf.worst(state.b) | number:0 }} {{state.b.unitOfMeasurement}}</div>
      </dd>
    </dl>


    <p>Which treatment would you prefer?</p>
    <form>
      <label for="criterion-b"><input type="radio" ng-model="state.choice" value="{{state.criterionB}}" id="criterion-b">
        Treatment A</label>
      <label for="criterion-a"><input type="radio" ng-model="state.choice" value="{{state.criterionA}}" id="criterion-a">
        Treatment B</label>
    </form>

  </div>
</div>
