<div class="row">
  <div class="columns large-12">
    <h3>Is there anything you'd like to share?</h3>

    <p>Please use this box to detail anything else, not covered in other sections, that is important to you when considering the potential benefits and risks of treatments.</p>

    <textarea ng-model="state.feedbackText" placeholder="Your thoughts here..." rows="8" cols="50" class="large-6 medium-8 small-12">
    </textarea>

    <h4>Follow-up</h3>

    <p>If you would like to receive a copy of the results as soon as they are available please check the box below:</p>
    <label>
      <input type="checkbox" ng-model="state.followUpRequested">
      I would like to receive a copy of the results by e-mail
    </label>
    <p>
    The research team does not have access to your e-mail address or any other personally identifiable information.
    Your request will be forwarded to Myeloma UK using your unique questionnaire URL.
    </p>

  </div>

</div>
