<div class="row">
  <div class="columns large-12">

    <h3>Your opinion on the survey</h3>

    <p>How can we improve this survey (e.g. make the questions clearer, make the survey shorter, include different outcomes)?
    Please add any comments or suggestions below.</p>

    <textarea ng-model="state.feedbackText" placeholder="Your thoughts here..." rows="8" cols="50" class="large-6 medium-8 small-12">
    </textarea>

    <p>Please press <em>Finish</em> to complete the survey.</p>

  </div>

</div>
