<div class="row">
  <div class="columns large-12">

    <h3>Section 4 &mdash; Your opinion on the survey</h3>

    <p>How would you improve this survey; a) make the questions clearer, b) make the survey shorter, c) include different outcomes?</p>

    <p>Do you have any comments or suggestions for future surveys like this?</p>

    <textarea ng-model="state.feedbackText" placeholder="Your thoughts here..." rows="8" cols="50" class="large-6 medium-8 small-12">
    </textarea>

    <p>Please press <em>Finish</em> to complete the survey.</p>

  </div>

</div>
