<div>
      <h3>Certificate of consent</h3>

      <p>I have been invited to participate in a survey on how I value different outcomes in myeloma treatment.</p>

      <p><strong>I have read the information about the survey, or it has been read to me. I have had the opportunity to ask questions about it and any questions I have been asked have been answered to my satisfaction. I consent voluntarily to be a participant in this activity.</strong></p>

        <p>Please click one of the options below to tell us you want to participate.</p>
        <form>
          <input type="radio" ng-model="state.consent" id="consent-1" value="consent"><label for="consent-1">I consent voluntarily to be a participant in this activity</label><br>
          <input type="radio" ng-model="state.consent" id="consent-2" value="no-consent"><label for="consent-2">I do not consent to be a participant in this activity</label>
          <div class="info alert-box" ng-show="state.consent == 'no-consent'">
            The survey
            cannot continue without your consent. If you do not want to
            participate, we thank you for your interest in our activity. You can now
            close the browser to exit the questionnaire.
          </div>
        </form>
</div>
