<div class="row">
  <div class="columns large-12">
    <h3>Improving {{state.criterionInfo.title}} ({{ state.pvfPrefs[state.criterion].length + 1 }}/3)</h3>

    <p>
      Imagine there are 3 treatments that can {{ state.criterionInfo.pvf.direction === "decreasing" ? "decrease" : "increase" }} the
      <desc title="{{ state.criterionInfo.description }}">{{state.criterionInfo.title}}</desc>
      by the same amount, but for different conditions before and after the treatment:
    </p>

    <ul>
      <li ng-repeat="interval in state.intervals[state.criterion]">
        {{ $index | indexAsAlpha }}:
        {{ state.criterionInfo.pvf.direction === "decreasing" ? "a decrease" : "an increase" }}
        from {{ interval[0] | number:0 }}{{state.criterionInfo.unitOfMeasurement}}
        to {{ interval[1] | number:0 }}{{state.criterionInfo.unitOfMeasurement}}
      </li>
    </ul>

    <p>Which of the following statements best describes how you feel?</p>

    <label>
      <input value=">" type="radio" ng-model="state.choice">
      {{state.question[0] | indexAsAlpha }} is more valuable than {{state.question[1] | indexAsAlpha }}
    </label>
    <label>
      <input value="<" type="radio" ng-model="state.choice">
      {{state.question[1] | indexAsAlpha }} is more valuable than {{state.question[0] | indexAsAlpha }}
    </label>
    <label>
      <input value="=" type="radio" ng-model="state.choice">
      {{state.question[0] | indexAsAlpha }} and {{state.question[1] | indexAsAlpha }} are equally valuable
    </label>
  </div>
</div>
