<div>
    <h3>Section 3 – How you perceive different improvements</h3>
    <p>In this section we ask you to tell us what you think about <strong>how important</strong> different improvements are. Sometimes people answer these questions differently and this will help us with our analysis of the earlier answers you gave. Even though the improvements listed in these questions are all <strong>by the same amount</strong> we want you to tell us if you personally think some improvements are more important than others or if they are equally important to you.</p>
</div>
