<div>
  <h3>How important are different improvements to you?</h3>

  <p>We’re almost there.</p>

  <p>However, we need a little bit more information from you to put the choices you made in the previous section into context.</p>

  <p>In this section, we put forward four final scenarios that are each showing several improvements with respect to one treatment outcome. For each scenario, we ask you to tell us how important these improvements are to you.</p>

  <p>The questions in this section might seem a little odd on their own but they are really important for analysing the choices you made earlier. Thank you for bearing with us!</p>
</div>
