<div class="row">
  <div class="columns large-10">
    <h3>Part 4 &mdash; Demographics and disease history</h3>

    <p>The final part of the survey consists of several questions to provide us with personal information about you. The information that you provide will be treated confidentially and cannot be traced back to you as a person. Feel free to leave blank any of the questions that you cannot or do not want to answer.</p>

    <p>In total, this part of the survey will consist of TODO questions.</p>
  </div>
</div>
