<h3>Your Preferences &mdash; Introduction</h3>

<p>Imagine a hypothetical scenario of someone who has recently been diagnosed with cancer. With currently available treatments, there is a good probability of his/her being alive many years after diagnosis.
However, each treatment has slightly different favourable and unfavourable effects. We would like to know which treatment you would prefer if you were in that scenario.</p>

<p>In the next screens we will introduce the favourable and unfavourable effects used to describe the different treatments.</p>
