<h3>Favourable effects of treatment</h3>

<p>Favourable effects of treatments can be expressed in terms of how much they increase the time to progression and survival time.</p>

<p><u>Time to progression</u> is the time that a treatment can delay the growth of cancer. By delaying the growth of cancer, treatments are expected to delay worsening of symptoms and the need for additional treatment for some time.</p>

<p><u>Survival time</u> refers to the time that a treatment can prolong survival. By prolonging survival, treatments are expected to also delay the growth of cancer and worsening of symptoms and the need for additional treatment for some time.</p>
