<h3>Unfavourable effects of treatment</h3>

<p>Unfavourable effects of treatments are undesirable and unintended effects of treatments (side-effects). In this survey, we will consider the following broad classes of side-effects:</p>

<p><u>Mild or moderate long-lasting side-effects:</u> side-effects lasting more than 2.5 months where medical intervention is not immediately required, but the symptoms are likely to interfere with your daily activities. 
Examples include moderate levels of fatigue (not relieved by rest), diarrhoea (up to 6 stools per day) or moderate pain.</p>

<p><u>Severe or life-threatening side-effects:</u> side-effects requiring medical intervention that strongly interfere with your daily activities, but are generally resolved within 3 weeks. Hospitalisation, dose reduction, or treatment discontinuation may be required. 
Examples include severe pain (limiting daily activities); skin problems requiring intravenous antibiotics; inflammation affecting eating and swallowing; diarrhoea (7 or more stools per day) and incontinence.</p>
