<div class="row">
  <div class="columns large-12">
    <h3>
      <span ng-if="state.ordinalPrefs.length == 0">If you could improve this treatment what would you do?</span>
      <span ng-if="state.ordinalPrefs.length > 0">If you could improve this treatment again what would you choose?</span>
    </h3>
    <div>
      <span><strong>Q{{state.ordinalPrefs.length + 1}}:</strong>
      <span ng-if="state.ordinalPrefs.length == 0">
        The treatment you are asked to consider involves:
      </span>
      <span ng-if="state.ordinalPrefs.length > 0">
        After your previous selection, the treatment now involves:
      </span>
    </div>

    <ul>
      <li ng-repeat="(criterion, value) in state.reference track by $index" ng-init="c = state.problem.criteria[criterion]">
        {{value | number:0 }}{{c.unitOfMeasurement}} {{c.titleIndefinite}}
      </li>
    </ul>


    <div>
      <p>If you could improve on this<span ng-if="state.ordinalPrefs.length > 0"> again</span>, which <em>one</em> of the following would you choose?</p>
    </div>

    <form>
      <label ng-repeat="(choice, alternative) in state.choices" ng-init="c = state.problem.criteria[choice]">
        <input type="radio" ng-model="state.choice" value="{{choice}}"/>
        {{c.pvf.direction == "increasing" ? "Increase" : "Decrease"}} {{c.title}} to {{alternative[choice] | number:0 }}{{c.unitOfMeasurement}}
      </label>
    </form>
    <br>
  </div>
</div>
