<div>
  <div class="row">
    <div class="progress success radius columns large-10 large-offset-1 medium-10 medium-offset-1 small-10 small-offset-1">
      <span class="meter" style="width: 100%"></span>
    </div>
  </div>

  <div style="text-align: center">
    <img src="img/banner.png">
  </div>

  <div class="row">
    <div class="large-10 large-offset-1 columns">
      <h3>Thank you</h3>

      <p>Thank you on behalf of Myeloma UK, the European Medicines Agency, and the University of Groningen for taking part in the survey.</p>
      <p>If you wish to discuss any questions or issues that this survey may have raised please call the Myeloma Infoline on 0800 980 3332 or email <a href="mailto:AskTheNurse@myeloma.org.uk">AskTheNurse@myeloma.org.uk</a>.</p>
    </div>
  </div>
</div>
