{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-12 columns clearfix last">
        <h2 class="left">{{questionnaire.title}}</h2>
        <ul class="button-group right" style="margin-top: 0.75em">
          <li><a href="/admin/{{questionnaire.id}}/export-results" download="{{questionnaire.title}}_results.json"class="button secondary tiny">Export results</a></li>
          <li><a href="/admin/{{questionnaire.id}}/export-urls" download="{{questionnaire.title}}_urls.txt" class="button secondary tiny">Export urls</a></li>
          <li><a href="/admin/{{questionnaire.id}}/edit" class="button tiny">Edit</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <h3>Generate URLs</h3>

    <form action="/admin/{{questionnaire.id}}/generate-urls" method="POST">
      <div class="row">
        <div class="large-5 small-8 columns">
          <label>Number of URLs to generate
            <input type="number" name="urls" required min="1" max="5000" />
          </label>
        </div>
        <div class="large-2 small-4 columns">
          <input type="submit" class="button" value="Generate"></input>
        </div>
      </div>
    </form>

    <hr>
    <h3>Results</h3>
    <div class="row">
      <div class="large-12 columns">
        <table width="100%">
          <caption>Generated questionnaires and their status. *: status indicates the last step started, not the last step completed.</caption>
          <thead>
            <tr>
              <td>URL</td>
              <td>Last visited</td>
              <td>Last saved</td>
              <td>Status*</td>
            </tr>
          </thead>
          <tbody>
            {% for result in results %}
            <tr>
              <td><a href="/{{result.url}}">{{result.url}}</a></td>
              <td>{% if result.last_visited %}{{ result.last_visited | date("Y-m-d H:iO") }}{% else %}Never{% endif %}</td>
              <td>{% if result.last_completed %}{{ result.last_completed | date("Y-m-d H:iO") }}{% else %}Never{% endif %}</td>
              <td>{% if result.answers && result.answers.done %}<i class="fa fa-check"></i>{% elif result.answers && result.answers.step %}{{result.answers.step}}{% else %}<i class="fa fa-question"></i>{% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
